<!DOCTYPE html>
<html>
<head>
  <title>ECommerceSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="global-nav">
  <div class="container">
    <div class="brand">
      <a href="/">
        <span></span>London
      </a>
    </div>
    <div class="global-menu">
      
      <ul>
          <li><a href="/">Search </a><input type="text" id="searchBox" /></li>
          <li><a href="/categories">Categories</a></li>
          <% if user_signed_in? %>
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              <%= link_to('Edit registration', edit_user_registration_path) %>      
            </li>
          <% else %>
            <li>
              <%= link_to('Login', new_user_session_path)  %> 
              <%= link_to('Register', new_user_registration_path)  %> 
            </li>
          <% end %>
          <li class="cart-count"></li>
          <li><a id="checkout-link" href="/cart">Checkout</a></li>
      </ul>
    </div>
  </div>
</nav>
  <p class="notice"><%= notice %></p>
         <p class="alert"><%= alert %></p>
         <h1>Homepage</h1>

         <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h1><%= link_to "My Store", root_path %></h1>
      </div>
      <div class="col-xs-6 text-right">
        <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
      </div>
    </div>
    <hr>

<%= yield %>
</div>
</body>
</html>
