<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


<div id="newcustomer-form">
        <div id="non-registered-customer-signin">
                <div class="register-sign-inner">
                    <h3 class="purchase_path">Not registered? That's OK</h3>

                    <p>If you are new to MR PORTER please register for an account now</p>

                    <ul class="text-bulk">
                        <li>Save credit card details for faster shopping</li>
                        <li>Manage your order history</li>
                        <li>Gain access to your Wish List</li>
                    </ul>
                </div>

            <a href="https://www.mrporter.com/intl/lightRegistration.mrp" tabindex="3" class="mrp-primary-btn button" />
              Register now</a>

            <br class="clear"/>
        </div>
    </div>