<p id="notice"><%= notice %></p>

<div class="product_left_panel">
  <%= link_to 'Back', products_path %>

  <p>
    <%= @product.name %>
  </p>

    <%#= image_tag @product.img, :class => 'img-responsive' %>

</div>

<div class="product_right_panel">

  <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
  <a class="addthis_button_preferred_1"></a>
  <a class="addthis_button_preferred_2"></a>
  <a class="addthis_button_preferred_3"></a>
  <a class="addthis_button_preferred_4"></a>
  <a class="addthis_button_compact"></a>
  <a class="addthis_counter addthis_bubble_style"></a>
  </div>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5374b45d7ee953b2"></script>
  <!-- AddThis Button END -->
  
  <br><br><br>

  <% if user_signed_in? %>
    <%= form_tag("/order_products", method: "post") do %>
      <%= number_field_tag 'quantity', nil, in: 1...100, :required => 'true', :class => 'form-control text-center', :placeholder => 'quantity - eg: 99',:title => "Please fill up the contact form if you wish to purchase items more than 100pcs, thank you!" %>
      <%= hidden_field_tag 'product_id', @product.id %>
      <%= submit_tag "Add to Cart", :class => "btn btn-success btn-block" %>
    <% end %>

    <% if current_user.admin? %>
      <%= link_to 'Edit', edit_product_path(@product) %>
    <% end %>
  <% end %>


  <p>
    <strong>Description:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency @product.price %>
  </p>

</div>
