<p id="notice sign-in"><%= notice %></p>

<h2>P_RODUCTS</h2>
<div class="products-container box-11">
  <% @products.each do |product| %>
    <div class="product-info">
      <p><%= image_tag(product.image) %></p>
     <h5><%= product.designer %></h5> 
      <h4><%= product.name %></h4>
      <h4>£<%= product.price %></h4>
      <p><%= link_to 'Show', product %></p>
      <%= form_tag("/order_products", method: "post") do %>
      <%= hidden_field_tag 'product_id', product.id %>
      <% end %>
    </div>
  <% end %>
</div>
<%#= link_to 'New Product', new_product_path %>
