<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
 <h3> <%= @product.name %></h3>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @product.image %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @product.tag %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
