<div class="product-show">

<div class="left box-6 box">
  
 <%= image_tag(@product.image) %>

</div>

<div class="right box-6 box">
    <div class="product-info">
      <h2><%=@product.designer%></h2>
      <p><%= @product.name %></p>
      <p><strong>£<%= @product.price %></strong></p>
      <p><%= @product.description %></p>
      
      <%= form_tag("/order_products", method: "post") do %>
     <p> <%= select_tag "quantity", options_for_select((1..10).step(1)), :class => 'form-control quantity' %></p>
      <%= hidden_field_tag 'product_id', @product.id %>
      <p><%= submit_tag "Add to Cart", :class => "addToCart" %></p>
      <% end %>
      </div>

      </div>
  
      </div>

      </div>


